{% extends 'layout.html' %}

{% block body %}
<h3>About</h3>
<hr>
A simple software engineer and backend developer.Nothing so special...Still learning.Always curious.Never stops until find the true value, loves searching.Graduated from National Technical University of Ukraine.Speaks Russian, English fluently.Knows Ukrainian a lil and Turkish as native language.Love coding,innovation,computer science.Trance lover and producer.Dreamer, as always.Self-taught programmer.No bootcamps, no paid courses."Knowledge speaks but wisdom listens.".Trying to be a real Pythonista.Cannot live without music.By the way this blog project is my first project to proud of. Sorry for the mistakes because of that.I hope you like and enjoy while surfing on my blog page.
<br><br>
<div class="text-center">
    <h5>Contact</h5>
    <h6>alicemkoyun@gmail.com</h6>
</div>
    

<hr>
{% endblock body %}